
table {
    width: 70%;
    margin: 0 auto;
    border-collabse: collabse
}

th, td {
    padding: 16px;
    text-align: center;
    border: 1px solid black
}

form {
    width: 60%;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid black;
}

    form label, form input {
        display: block;
        width: 100%;
        padding: 6px
    }

button {
    margin-top: 16px;
    padding: 6px;
    width: 100%;
}